/* home.css */

#encabezado {
  @apply relative;

  #carrusel {
    @apply container mx-auto rounded-xl overflow-hidden text-white
    h-112 sm:h-128 md:h-144 lg:h-160 xl:h-176
    shadow-2xl shadow-corp-800/75;

    .slide {
      @apply bg-gray-200 h-full;

      .slide-wrapper {
        @apply relative h-full;

        img {
          @apply w-full h-full object-cover object-center;
        }

        .backdrop {
          @apply absolute inset-0 bg-gradient-to-r from-corp-900/90 to-corp-900/10;
        }

        .content {
          @apply absolute bottom-0 z-20 space-y-4
          p-4 md:p-8 lg:p-16
          pr-4 md:pr-8 xl:pr-144;

          h3 {
            @apply first-line:font-bold
            text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
          }

          p {
            @apply hidden md:block
            text-base lg:text-lg;
          }

          a {
            @apply inline-block px-4 py-2 border rounded hover:bg-white hover:text-black;
          }
        }
      }
    }
  }

  .tns-controls {
    @apply container mx-auto absolute top-1/2 left-0 right-0 z-30
    flex justify-between transform -translate-y-1/2
    hidden sm:flex;

    button {
      @apply bg-white/25 text-black/50 text-3xl px-4 py-6 transition-all
      hover:bg-corp-500/50 hover:text-white/75 hover:scale-150
      active:bg-corp-500/75 active:text-white/100;
      font-family: 'Inter', sans-serif;

      &[data-controls="prev"] {
        @apply rounded-r-full pl-0 hover:translate-x-[11px];
      }

      &[data-controls="next"] {
        @apply rounded-l-full pr-0 hover:-translate-x-[11px];
      }
    }
  }
}

#servicios {
  @apply container mx-auto my-8 gap-4
  grid grid-cols-1 lg:grid-cols-5;

  #busqueda {
    @apply flex flex-col rounded-xl overflow-hidden text-white
    px-3 py-4 sm:px-4 sm:py-6
    col-span-full lg:col-span-3;

    background-image: url("../images/logos/escudo-tilt.svg"), linear-gradient(to right, #157F65, #1A9F7E);
    background-position: right bottom, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: 16rem, 100%;

    h3 {
      @apply mb-8
      text-2xl lg:text-4xl;
    }

    ul {
      @apply grow flex flex-wrap
      text-xs sm:text-sm lg:text-xl;

      li {
        @apply inline-block mb-6 transition-all
        hover:scale-105 hover:shadow-xl hover:shadow-gray-700/50
        mr-1 lg:mr-3;

        a {
          @apply rounded-lg py-2 px-3;
        }
      }
    }

    div a {
      @apply inline-block rounded border
      mt-8 sm:mt-0 px-3 py-2 sm:py-3 sm:px-4
      hover:bg-white hover:text-corp-700;
    }
  }

  #importantes {
    @apply grid sm:grid-cols-2 gap-4
    col-span-full lg:col-span-2;

    article {
      @apply relative rounded-xl overflow-hidden shadow-lg shadow-corp-900/35
      bg-corp-900 transition-all hover:scale-105 hover:shadow-xl hover:shadow-corp-900/50;

      img {
        @apply w-full h-full object-cover brightness-75;
      }

      h4 {
        @apply absolute bottom-0 z-20 px-3 pb-2 space-y-8 text-white
        text-xl xl:text-2xl;
      }
    }
  }

  #tramites {
    @apply col-span-full lg:col-span-5;

    ul {
      @apply grid grid-cols-2 md:grid-cols-4 gap-4;
    }

    ul li {
      @apply rounded-lg overflow-hidden transition-all hover:scale-105 hover:shadow-xl hover:shadow-gray-700/50;
    }

    img {
      @apply object-cover;
    }
  }
}

#novedades {
  @apply container mx-auto my-12 gap-x-16
  grid grid-cols-1 lg:grid-cols-5;

  h3 {
    @apply text-4xl mb-8;
  }

  #noticias {
    @apply py-4 space-y-6
    col-span-full lg:col-span-3;

    article {
      @apply flex gap-4 items-center rounded-lg hover:bg-gray-100
      pr-0 sm:pr-4
      flex-col sm:flex-row ;
    }

    img {
      @apply w-full sm:w-44 h-44
      flex-shrink-0 rounded-lg object-cover object-center;
    }

    h4 {
      @apply text-2xl font-bold tracking-tight leading-[1.05em];
    }

    .meta {
      @apply my-2 text-xs uppercase tracking-wide text-gray-500;

      svg {
        @apply -translate-y-px;
      }
    }

    p {
      @apply text-sm;
    }

    a.more {
      @apply inline-block border border-gray-400 rounded hover:bg-gray-400 hover:text-gray-50
      py-2 px-3 sm:py-3 sm:px-4;
    }
  }

  #publicaciones {
    @apply rounded-lg space-y-2 text-white
    p-3 sm:p-4
    col-span-full lg:col-span-2
    bg-gradient-to-r from-sea-500 to-sea-600;

    article {
      @apply flex items-start gap-4 p-4 rounded-lg hover:bg-gray-50/10;

      > svg {
        @apply w-12 h-12 flex-shrink-0 opacity-50;
      }

      > div {
        @apply flex-grow;

        h4 {
          @apply text-lg font-bold tracking-tight leading-[1.05em];
        }

        .meta {
          @apply my-2 text-xs uppercase tracking-wide text-gray-300;
        }
      }
    }

    a.more {
      @apply inline-block !mt-9 border rounded hover:bg-white hover:text-sea-600
      py-2 px-3 sm:py-3 sm:px-4;
    }
  }

  #actividades {
    h3 {
      @apply mt-6 mb-0;
    }
  }
}

#municipal {
  @apply container mx-auto my-12 gap-2
  grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-9;

  > * {
    @apply rounded-lg overflow-hidden;
  }

  .backdrop {
    @apply w-full h-full object-cover brightness-50;
  }

  .info {
    img {
      @apply w-16 h-16;
    }

    h3 {
      @apply text-2xl;
    }
  }

  #turismo, #cultura, #concejo {
    @apply h-80
    col-span-full lg:col-span-1 xl:col-span-3;
  }

  #turismo, #cultura, #concejo {
    @apply block relative;

    .info {
      @apply absolute w-full bottom-0 px-3 py-2 text-white;
    }
  }

  #turismo, #cultura {
    @apply transition-all hover:scale-105;
  }

  #concejo {
    @apply relative;

    .info {
      @apply py-3;
    }

    .info img {
      @apply w-auto h-8;
    }

    ul {
      @apply mt-4 mb-3 lg:mb-0 grid grid-cols-2 gap-1 text-center;
    }

    a {
      @apply border rounded tracking-tighter
      hover:bg-white hover:text-black
      p-3 lg:p-1
      text-xs sm:text-sm lg:text-xs xl:text-sm;
    }
  }

  #medioambiente {
    @apply relative z-20 text-white content-end
    h-144 sm:h-80
    col-span-full lg:col-span-2 xl:col-span-7
    sm:grid sm:grid-cols-2
    bg-[url('../images/sietecolores.jpeg')] bg-cover bg-no-repeat bg-center
    before:absolute before:inset-0 before:block before:z-[-5]
    before:bg-gradient-to-r before:from-black/5 before:to-black/90;

    .info, .links {
      @apply px-3 py-3;
    }

    .info {
      @apply sm:col-span-1
      content-end;
    }

    .links {
      @apply sm:col-span-1 py-5 content-end
      text-center sm:text-right
      sm:space-y-2
      grid grid-cols-2 gap-2 sm:block
      text-xs sm:text-base tracking-tighter;

      a {
        @apply inline-block px-4 py-2 border rounded hover:bg-white hover:text-grass-800;
      }
    }
  }

  #scam {
    @apply h-80 text-center content-end px-4 py-5
    bg-gradient-to-r from-sky-700 to-forest-700 text-white
    col-span-full lg:col-span-1 xl:col-span-2;

    .acreditacion {
      @apply text-9xl mb-6;
    }

    .links {
      @apply space-y-5;

      a {
        @apply px-4 py-2 border rounded hover:bg-white hover:text-sky-800;
      }
    }
  }
}

#sociales {
  @apply container mx-auto my-12 rounded-lg gap-2
  grid grid-cols-1 lg:grid-cols-3;

  #redes, #galeria {
    @apply h-80 rounded-lg overflow-hidden;
  }

  #galeria {
    @apply relative text-white;

    img {
      @apply w-full h-full object-cover;
    }

    span {
      @apply absolute bottom-0 w-full px-3 pb-2 pt-4
      bg-gradient-to-b from-transparent to-gray-900;
    }

    a {
      @apply inline-block border px-2 rounded hover:bg-white hover:text-black;
    }
  }

  #redes {
    @apply lg:col-span-2 grid grid-cols-subgrid bg-gray-100;

    h2 {
      @apply text-2xl;
    }

    .cta {
      @apply place-content-center space-y-3 p-3;
    }

    .links {
      @apply relative z-10 content-center text-center text-3xl space-y-4
      bg-[url('../images/sociales.jpeg')] bg-cover bg-no-repeat bg-center
      before:absolute before:inset-0 before:block before:z-[-5]
      before:bg-gradient-to-b lg:before:bg-gradient-to-r before:from-gray-100/100 before:to-gray-200/25 before:backdrop-blur-sm;

      .facebook {
        @apply text-[#1877f2]
      }

      .instagram {
        @apply text-[#833ab4]
      }

      .twitter {
        @apply text-[#1da1f2]
      }

      a {
        @apply inline-block px-3 py-1 rounded-lg hover:bg-white;
      }
    }
  }
}

/* Estilos para la sección de eventos */
.events-section {
  @apply col-span-full grid gap-6;

  h3 {
    @apply mt-6 mb-0;
  }

  .events-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-2;
  }

  .event-card {
    @apply relative rounded-lg overflow-hidden bg-corp-900
    shadow-lg shadow-corp-700/70;

    img {
      @apply h-full w-full object-cover aspect-square
      lg:aspect-[2/3];
    }

    .info {
      @apply absolute bottom-0 pt-20 pb-2 z-20 grid grid-cols-4
      text-white bg-gradient-to-b from-corp-800/0 to-corp-800;

      time {
        @apply text-center leading-[1px] text-xs uppercase font-bold
        first-line:text-5xl;
      }

      h4 {
        @apply col-span-3 pr-2 py-1 leading-none tracking-tight h-[3em] text-xl;
      }

      ul {
        @apply col-span-4 px-4 mt-4;
      }

      div {
        @apply col-span-4 px-4 mt-4 mb-3;

        a {
          @apply px-2 py-1 border rounded hover:bg-white hover:text-black;
        }
      }
    }
  }
}
